<a href="https://colab.research.google.com/github/pbplop29/ECE_Calculators/blob/main/Histogram_matching.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import pandas as pd
import numpy as np
import math
from matplotlib import pyplot as plt
import matplotlib as mp

In [61]:
rk = [0,1,2,3,4,5,6,7]
zk = [0,1,2,3,4,5,6,7]
nk = [790,1023,850,656,329,245,122,81]
Prr = [0.19,0.25,0.21,0.16,0.08,0.06,0.03,0.02]
Pzz = [0,0,0,0.15,0.20,0.30,0.20,0.15]

In [62]:
M = 64
N = 64
bit = 7
check = 0
for i in range(0,len(nk)):
  check+=nk[i]
if check/(M*N) == 1:
  print('✔️nk is Correctly Entered')
else:
  print('❌nk is Incorrectly Entered')

check = 0
for i in range(0,len(Prr)):
  check+=Prr[i]
print('➡️ Prr sum is', round(check,2))


check = 0
for i in range(0,len(Pzz)):
  check+=Pzz[i]
print('➡️ Pzz sum is', round(check,2))

✔️nk is Correctly Entered
➡️ Prr sum is 1.0
➡️ Pzz sum is 1.0

In [63]:
Sk=[]
sum = 0;
for i in range(0,len(nk)):
  sum+=Prr[i]
  Sk.append(round((bit*sum),4))

In [64]:
Sk_int = []
for i in range(0,len(Sk)):
  Sk_int.append(int(round(Sk[i],0)))
Sk = Sk_int

In [65]:
Gk=[]
sum = 0;
for i in range(0,len(nk)):
  sum+=Pzz[i]
  Gk.append(round((bit*sum),4))

In [66]:
Gk_int = []
for i in range(0,len(Gk)):
  Gk_int.append(int(round(Gk[i],0)))
Gk = Gk_int

In [67]:
list_of_tuples = list(zip(rk,zk,nk, Prr,Sk,Pzz, Gk ))

first_table = pd.DataFrame(list_of_tuples,
                  columns = ['rk','zk', 'nk', 'Prr', 'Sk', 'Pzz', 'Gk'])

first_table.style.hide_index()

In [80]:
Sk_mapped = [0,1,2,3,4,5,6,7]
rk_mapped = []


for i in range(0,len(Sk_mapped)):
  temp = []
  for j in range (0,len(Sk_mapped)):
    if(Sk[j]==Sk_mapped[i]):
      temp.append(rk[j])
  rk_mapped.append(temp)

In [82]:
zk_mapped = []
for i in range(0,len(Sk)):
  temp = 0
  for j in range(0,len(Gk)):
    if Gk[j] == Sk[i]:
      temp = j
      break
    if Gk[j] > Sk[i] :
      temp = j-1
      break
  zk_mapped.append(temp)

list_of_tuples = list(zip(rk_mapped,Sk_mapped,zk_mapped))

second_table = pd.DataFrame(list_of_tuples,
                  columns = ['rk_mapped','Sk_mapped','zk_mapped'])

second_table.style.hide_index()